<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Twitch Channel Guide</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Twitch Guide", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("My Profile", "Search", "Profile", new { name = "" }, new { })</li>
                    <li>@Html.ActionLink("News", "Index", "News")</li>
                    <li>@Html.ActionLink("All Users", "AllUsers", "Home")</li>

                </ul>
                <span class="nav navbar-nav form-inline" style="margin-top:8px;">
                    <input type="text" class="form-control" name="name" id="name" placeholder="Search by Username">
                    <button class="btn btn-info" id="btnSearch">Search</button>
                </span>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="FooterCenter">@Html.ActionLink("About Us", "AboutUs", "Home")</div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    
    <script>
        $("#btnSearch").click(function () {
            location.href = "../Users/" + $("#name").val();
        });
    </script>
    @if (Request.IsAuthenticated)
    {
        <script>
            //Gets the Logo.png for the current user, and displays it next to the name
            $(document).ready(function () {
                $.ajax({
                    url: 'https://api.twitch.tv/kraken/user',
                    type: 'GET',
                    dataType: 'json',
                    success: function (result) {
                        $("#LogoSpot").html("<img src='" + result.logo + "' height=32 width=32></img>");
                    },
                    beforeSend: setAuthHeader
                });
            });
            $(document).ready(function () {
                $.ajax({
                    url: 'https://api.twitch.tv/kraken/user',
                    type: 'GET',
                    dataType: 'json',
                    success: function (result) {
                        $("#UserNameDisplay").html("<a href='/Manage'>" + result.name + "</a>");
                    },
                    beforeSend: setAuthHeader
                });
            });
            function setAuthHeader(xhr) {
                var token = "@ViewBag.token";
                xhr.setRequestHeader('Accept', 'application/vnd.twitchtv.v5+json');
                xhr.setRequestHeader('Client-ID', 'kx6k6d64t0ok27s5sfyo1w5n1q3dn6');
                xhr.setRequestHeader('Authorization', 'OAuth ' + token);
            };
        </script>
    }
</body>
</html>
