<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Twitch Channel Guide</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/themeScript")
    <link href="~/Content/Theme/assets/css/style-responsive.css" rel="stylesheet" />
    @RenderSection("styles", required: false)

</head>
<body>
    <header class="header black-bg">
        <div class="sidebar-toggle-box">
            <div id ="ToggleSidebar" class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Profile"></div>
        </div>
        <!--logo start-->
        <a href="@Url.Action("Index", "Home")" class="logo"><b>Twitch Guide</b></a>
        <!--logo end-->
        <div class="nav notify-row" id="top_menu">
            <!-- links start -->
            <ul class="nav top-menu">
                <li>
                    <a href="@Url.Action("AllUsers", "Home")" class="menuLinks" data-icon="&#xe007;">  Members</a>
                </li>
                <li>
                    <span class="nav navbar-nav form-inline" id="SearchBar">
                        <input type="text" class="form-control" name="name" id="name" placeholder="Search by Username">
                        <button class="btn btn-theme" id="btnSearch">Search</button>
                    </span>
                    <script>$("#SearchBar").hide();</script>
                </li>
            </ul>
            <!-- links end -->

        </div>
        <div class="top-menu">
            <ul class="nav pull-right top-menu">
                <li>@Html.Partial("_LoginPartial")</li>
            </ul>
        </div>
    </header>
    <!--top menu end-->
    <!--sidebar start-->
    <aside>
        <div class="collapse in" id="sidebar" style=" z-index: 2; ">
            <!-- sidebar menu start-->
            <ul class="sidebar-menu" id="nav-accordion">
@if (Request.IsAuthenticated)
            {
                <li class="centered" id="LogoSpot" href="@Url.Action("Search", "Profile", new { name = "" })"><img src="@ViewData["MyAvatar"]" alt="Avatar" class="img-circle" width="60" /></li>;
                <li class="centered UsernameDisplay" id="UserNameDisplay" href="@Url.Action("Search", "Profile", new { name = "" })">@ViewData["MyName"]</li>
}
else
{
    <li class="centered" id="LogoSpot"><img src="~/Content/default-avatar.png" alt="Avatar" class="img-circle" width="100"/></li>;

    <li class="centered UsernameDisplay" id="UserNameDisplay">Guest</li>
}
            </ul>
            <!-- sidebar menu end-->
        </div>
    </aside>
    <!--sidebar end-->
    <section id="main-content">
        <section class="wrapper">
            @RenderBody()
        </section>
    </section>

    <!--footer start-->
    <footer class="myFooter">
        <a href="@Url.Action("AboutUs", "Home")" class="AboutUsLink"><b>About Us</b></a>
    </footer>
    <!--footer end-->


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


    <script>
                $("#btnSearch").click(function () {
                    location.href = "../Users/" + $("#name").val();
                });
    </script>

</body>

</html>
