@model TwitchGuide.Models.News


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>News</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Content)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Content)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DateAdded)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DateAdded)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AddedBy)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AddedBy)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.NewsId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
