@model IEnumerable<TwitchGuide.Models.News>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>




@foreach (var item in Model)
{
    <div class="StoryItem">
        <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
        <h4>@Html.DisplayFor(modelItem => item.Content)</h4>
        <h5>Added by @Html.DisplayFor(modelItem => item.AddedBy) on @Html.DisplayFor(modelItem => item.DateAdded.Date)</h5>
        @Html.ActionLink("Edit", "Edit", new { id = item.NewsId })**@Html.ActionLink("Details", "Details", new { id = item.NewsId })**@Html.ActionLink("Delete", "Delete", new { id = item.NewsId })
    </div>
}
</body>
</html>
