@model IEnumerable<TwitchGuide.Models.News>

@{
    ViewBag.Title = "NewsIndex";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

    @foreach (var item in Model)
    {
        <div class="StoryItem">
            <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
            <h4>@Html.DisplayFor(modelItem => item.Content)</h4>
            <h5>Added by tester on @Html.DisplayFor(modelItem => item.DateAdded.Date)</h5>
            @Html.ActionLink("Edit", "Edit", new { id = item.NewsID })**@Html.ActionLink("Delete", "Delete", new { id = item.NewsID })
        </div>
    }


    </table>
