
@model PagedList.IPagedList<TwitchGuide.Models.SiteNews>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "NewsIndex";
}


<h2><a class="logo"><b class="titleFormatter" style="margin-left: 125px;">Site Updates</b></a></h2>

<br />
<br />
    @if (ViewBag.canEdit)
    {
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    }

    @foreach (var item in Model)
    {
        <hr align="left" />
        <div class="StoryItem">
            <h3>@Html.DisplayFor(modelItem => item.News.Title)</h3>
            <h4>@Html.DisplayFor(modelItem => item.News.Content)</h4>
            <h5>Added by @Html.DisplayFor(modelItem => item.User.Username) on @Html.DisplayFor(modelItem => item.News.DateAdded.Date)</h5>
            <br />
            @if (ViewBag.canEdit)
            {
                 @Html.ActionLink("Edit", "Edit", new { id = item.NewsID })<nbsp></nbsp>
                 @Html.ActionLink("Delete", "Delete", new { id = item.NewsID })
            }

        </div>
}
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new {page}))
<br />