@model TwitchGuide.Models.ProfileModel

@{
    ViewBag.Title = "Profile";
}

<h2>My Profile</h2>

@section Styles {
<meta name="viewport" content="width=device-width, initial-scale=1"> <!-- so it works with phones -->
<link rel="stylesheet" href="~/Content/ProfileSchedule.css"> <!-- Resource style -->    
}

<div class="cd-schedule loading">
    <div class="timeline">
        <ul>
            <li><span>1:00 AM</span></li>
            <li><span>2:00 AM</span></li>
            <li><span>3:00 AM</span></li>
            <li><span>4:00 AM</span></li>
            <li><span>5:00 AM</span></li>
            <li><span>6:00 AM</span></li>
            <li><span>7:00 AM</span></li>
            <li><span>8:00 AM</span></li>
            <li><span>9:00 AM</span></li>
            <li><span>10:00 AM</span></li>
            <li><span>11:00 AM</span></li>
            <li><span>12:00 PM</span></li> 
            <li><span>1:00 PM</span></li>
            <li><span>2:00 PM</span></li>
            <li><span>3:00 PM</span></li>
            <li><span>4:00 PM</span></li>
            <li><span>5:00 PM</span></li>
            <li><span>6:00 PM</span></li>
            <li><span>7:00 PM</span></li>
            <li><span>8:00 PM</span></li>
            <li><span>9:00 PM</span></li>
            <li><span>10:00 PM</span></li>
            <li><span>11:00 PM</span></li>
            <li><span>12:00 AM</span></li>
            <li><span>1:00 AM</span></li>
                  
        </ul>
    </div> <!-- .timeline -->
    <div class="events">
        <ul>
            <li class="events-group">
                <div class="top-info"><span>Sunday</span></div>
                <ul>
                    @foreach (var item in Model.TimeblockObj)
                    {
                        if (item.Day == 1)
                        {
                            
                            <li class="single-event" data-start="@item.StartHour:@String.Format("{0:D2}", item.StartMinute)" data-end="@item.EndHour:@String.Format("{0:D2}", item.EndMinute)" data-content="" data-event="event-1">
                                <a href="#0"></a>
                            </li>
                        }
                    }   
                </ul>
            </li>
            <li class="events-group">
                <div class="top-info"><span>Monday</span></div>
                <ul>
                    @foreach (var item in Model.TimeblockObj)
                    {
                        if (item.Day == 2)
                        {
                            <li class="single-event" data-start="@item.StartHour:@String.Format("{0:D2}", item.StartMinute)" data-end="@item.EndHour:@String.Format("{0:D2}", item.EndMinute)" data-content="" data-event="event-1">
                                <a href="#0"></a>
                            </li>
                        }
                    }
                    
                </ul>
            </li>
            <li class="events-group">
                <div class="top-info"><span>Tuesday</span></div>
                <ul>
                    @foreach (var item in Model.TimeblockObj)
                    {
                        if (item.Day == 3)
                        {
                            <li class="single-event" data-start="@item.StartHour:@String.Format("{0:D2}", item.StartMinute)" data-end="@item.EndHour:@String.Format("{0:D2}", item.EndMinute)" data-content="" data-event="event-1">
                                <a href="#0"></a>
                            </li>
                        }
                    }
                    
                </ul>
            </li>
            <li class="events-group">
                <div class="top-info"><span>Wednesday</span></div>
                <ul>
                    @foreach (var item in Model.TimeblockObj)
                    {
                        if (item.Day == 4)
                        {
                            <li class="single-event" data-start="@item.StartHour:@String.Format("{0:D2}", item.StartMinute)" data-end="@item.EndHour:@String.Format("{0:D2}", item.EndMinute)" data-content="" data-event="event-1">
                                <a href="#0"></a>
                            </li>
                        }
                    }
                    
                </ul>
            </li>
            <li class="events-group">
                <div class="top-info"><span>Thursday</span></div>
                <ul>
                    @foreach (var item in Model.TimeblockObj)
                    {
                        if (item.Day == 5)
                        {
                            <li class="single-event" data-start="@item.StartHour:@String.Format("{0:D2}", item.StartMinute)" data-end="@item.EndHour:@String.Format("{0:D2}", item.EndMinute)" data-content="" data-event="event-1">
                                <a href="#0"></a>
                            </li>
                        }
                    }
                    
                </ul>
            </li>
            <li class="events-group">
                <div class="top-info"><span>Friday</span></div>
                <ul>
                    @foreach (var item in Model.TimeblockObj)
                    {
                        if (item.Day == 6)
                        {
                            <li class="single-event" data-start="@item.StartHour:@String.Format("{0:D2}", item.StartMinute)" data-end="@item.EndHour:@String.Format("{0:D2}", item.EndMinute)" data-content="" data-event="event-1">
                                <a href="#0"></a>
                            </li>
                        }
                    }
                    
                </ul>
            </li>
            <li class="events-group">
                <div class="top-info"><span>Saturday</span></div>
                <ul>
                    @foreach (var item in Model.TimeblockObj)
                    {
                        if (item.Day == 7)
                        {
                            <li class="single-event" data-start="@item.StartHour:@String.Format("{0:D2}", item.StartMinute)" data-end="@item.EndHour:@String.Format("{0:D2}", item.EndMinute)" data-content="" data-event="event-1">
                                <a href="#0"></a>
                            </li>
                        }
                    }
                    
                </ul>
            </li>
        </ul>
    </div>
</div> <!-- .cd-schedule -->

@section Scripts {
    <script src="~/Scripts/scheduler.js"></script> <!-- Resource jQuery -->


}

