@model IEnumerable<TwitchGuide.Models.Timeblock>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StartHour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartMinute)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndHour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndMinute)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Day)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StartHour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartMinute)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndHour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndMinute)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Day)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id=item.TimeblockID })
        </td>
    </tr>
}

</table>
