@if (Request.IsAuthenticated)
{
    @model TwitchGuide.Models.User
}

@{
    ViewBag.Title = "Home";
    //make a newsList using controller ViewData
    List<TwitchGuide.Models.SiteNews> newsList = (List<TwitchGuide.Models.SiteNews>)ViewData["MyData"];
}



<div class="col-lg-3 ds">
    <h3>WHATS NEW</h3>
    @foreach (var item in @newsList.Take(3))
    {
        <div class="desc">
            <div class="thumb">
                <span><i><img class="img-circle" src="@item.User.Avatar" alt="Avatar" height="25" width="25" /></i></span>
            </div>
            <div class="details">
                <p><b>@Html.DisplayFor(modelItem => item.News.Title)</b></p>
                <p>@Html.DisplayFor(modelItem => item.News.Content)</p>
                <p><muted>Added by @Html.DisplayFor(modelItem => item.User.Username)<br /> @Html.DisplayFor(modelItem => item.News.DateAdded.Date)</muted></p>
            </div>
        </div>
    }
    <h5><b>@Html.ActionLink("<----- Older News", "Index", "News")</b></h5>
</div>

<br />
<hr />
<div id="userstats"></div>

@if (Request.IsAuthenticated)
{
    <table class="table">
        <tr><th>Favorites</th></tr>
        @foreach (var user in Model.Follows)
        {
                    <tr>
                        <td><img src="@user.Avatar" height="32" width="32" /> <a href="/Users/@user.Username">@user.Username</a></td>
                    </tr>
        }

    </table>
}
else
{
    <div>Please login to see your Favorites</div>
}


