@if (Request.IsAuthenticated)
{
    @model TwitchGuide.Models.User
}

@{
    ViewBag.Title = "Home";
    //make a newsList using controller ViewData
    List<TwitchGuide.Models.SiteNews> newsList = (List<TwitchGuide.Models.SiteNews>)ViewData["MyData"];
}



<div class="col-lg-3 ds">
    <h3>WHATS NEW</h3>
    @foreach (var item in @newsList.Take(3))
    {
        <div class="desc">
            <div class="thumb">
                <span><i><img class="img-circle" src="@item.User.Avatar" alt="Avatar" height="25" width="25" /></i></span>
            </div>
            <div class="details">
                <p><b>@Html.DisplayFor(modelItem => item.News.Title)</b></p>
                <p>@Html.DisplayFor(modelItem => item.News.Content)</p>
                <p><muted>Added by @Html.DisplayFor(modelItem => item.User.Username)<br /> @Html.DisplayFor(modelItem => item.News.DateAdded)</muted></p>
            </div>
        </div>
    }
    <h5><b>@Html.ActionLink("<----- Older News", "Index", "News")</b></h5>
</div>

<div id="userstats"></div>

<h3>Featured Streamer: A_Seagull</h3>

<div class="col-md-5 collapse in" id="Stream">
    <iframe src="https://player.twitch.tv/?channel=a_seagull&muted=true"
            height="480"
            width="640"
            frameborder="0"
            scrolling="no"
            allowfullscreen="true"></iframe>
</div>


